<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>BOOLZAPP</title>
</head>
<body>
    
    <header> 
    </header>

    <div id="app" class="container">

        <div class="top-bar">
            
            <div class="left-top-bar">
                <img class="img-profile" src="img/avatar_2.jpg" alt="">
                <span id="username">Alby Schianni</span>
                <div>
                    <i class="fa-solid fa-circle-notch"></i>
                    <i class="fa-solid fa-message"></i>                   
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>

            <div class="right-top-bar" >
                <img class="img-profile" src="img/avatar_1.jpg" alt="">
                <div id="username-chat" v-model="contactIndex">
                    <div>{{contacts[contactIndex].name}}</div>
                    <div>ultimo accesso</div>
                </div>
                <div>
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-paperclip"></i>                   
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>

            </div>
        </div>

        <div class="main-part">

            <div class="left-bar">
                <div class="notification">
                    <i class="fa-solid fa-bell-slash"></i>
                    <div class="text-notification">
                        <div>Ricevi notifiche di nuovi messaggi</div>
                        <div><u>Attiva notifiche Desktop</u></div>
                    </div>
                    
                </div>
                <div class="search-chat">
                    <div class="search-container">
                        <label id="label-search" for="chat-research"><i class="fa-solid fa-magnifying-glass search-2"></i></label>
                        <input id="chat-research" type="text" placeholder=" Cerca o inizia una nuova chat" v-model="searchQuery">
                    </div>
                    
                </div>

                <template v-for="(contact, index) in contacts">

                    <div class="chat-container"  @click="selectChat(index)" :class="contactIndex === index ? 'active' : ''" v-if="searchChat(index)">
                        <div class="chat">
                            <img class="img-profile" :src="contact.avatar" alt="">
                            <div id="username-chat">
                                <div>{{contact.name}}</div>
                                <div></div>
                            </div>
                        </div>
                    
                    </div>

    
                </template>



            </div>

            <div class="right-bar">

                <div class="message-container">
                    
                    <div v-for="(message, index) in contacts[contactIndex].messages" >
                        <div :class="message.status">
                            {{message.message}}
                        </div>
                    </div>
                   
                    
                </div>
                



                <div class="bottom-bar">
                    <div class="emoji">
                        <i class="fa-regular fa-face-smile"></i>
                    </div>
                    <div class="message">
                        <input id="message-input" type="text" placeholder=" Scrivi un messaggio" v-model="newMsg" @KeyUp.enter="addMsg">
                    </div>
                    <div class="audio-message">
                        <i class="fa-solid fa-microphone"></i>
                    </div>
                </div>

            </div>

        </div>

    </div>




    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="js/main.js"></script>
</body>
</html>